@charset "utf-8";
@import "compass/reset";
@import "top";
@import "bottom";
@import "lunbo";
$page_width:1230px;
*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing:border-box;
    text-decoration: none;
}
body{
    position: relative;
    background: #f5f5f5;
    overflow-x: hidden;
    #location {
        width: 100%;
        height: 50px;
        background: #FF0036; 
        position: Fixed;
        z-index: 999999;
        top: 0px;
       .BG{
         width: 1260px;
         height: 50px;
         background: #FF0036;
         margin: 0 auto;
         position: relative;
         left: 0;
         top: 0;
         overflow: hidden;
         img{
             height: 26px;
             float: left;
             margin-top: 12px;
         }
         form {
            width: 740px;
            height: 30px;
            margin: 0 auto;
            div{
             width: 740px;
             height: 30px;
             margin-top: 10px;
             input{
                 width: 640px;
                 height: 32px;
                 margin-left: 5px;
                 background: #fff;
                 border: 4px solid #fff;
                 float: left;
                }
             button{
                 width: 90px;
                 height: 32px;
                 float: left;
                 background: #FF0036;
                 border: none;
                 font-size: 16px;
                 color: #fff;
             }
            }
         }
     }  
    }
    //楼梯****************************************************************
    #stairs{
        width: 35px;
        height: 443px;
        position: Fixed;
        left: 3%;
        top: 25%;
        // display: none;
        .BG{
            font-size: 12px;
            text-align: center;
            .a1{
                background: red;
                line-height: 36px;
            }
            a{
            display: block;
            width: 35px;
            height: 35px;
            margin-top: 5px; 
            color: #fff;
            }
            .a2{
                background: #000;
                padding-top: 6px;
                opacity: 0.6;
            }
            .a2:hover{
                background: #000;
                opacity: 1;
            }
            .a3{
                background: #999;
                padding-top: 6px;
            }
        }
    }
}

//登录注册

//搜索框
#search_box{
    width: 100%;
    height: 130px;
}
#search_box .BG{
    width: $page_width;
    height: 130px;
    margin: 0 auto;
    background: #fff;
    overflow: hidden;
}
#search_box .BG .left{
    width: 290px;
    height: 130px;
    border: 1px solid #ccc;
    float: left;
}
#search_box .BG .SEO{
    width: 623px;
    height: 40px;
    background: #FF0036;
    margin: 0 auto;
    margin-top: 38px;
    border: 2px solid #FF0036;
}

#search_box .BG .SEO input{
    width: 491px;
    height: 36px;
    outline:none; 
    border: 2px solid #fff;
    font-size: 16px;
}
#search_box .BG .SEO button{
    width: 120px;
    text-align: center;
    background: #FF0036;
    border: none;
    font-size: 16px;
    font-weight:800;
    color: #fff;
}
//导航
#navigation {
    width: 100%;
    height: 36px;
}
#navigation .BG{
    width: $page_width;
    height: 36px;
    margin: 0 auto;
}
#navigation .BG .inner {
    div{
        float: left;
        height: 36px;
        text-align: center;
        line-height: 36px;
    } 
    ul{
        font-size: 14px;
    }
    //商品分类***************************************************
    .div1{
        width: 100px;
        background: #C60A0A;
        color: #fff;
        z-index: 999;
        ul{
            width: 200px;
            height: 500px;
            background: #000;
            position: relative;
            opacity: 0.95;
            z-index: 999;
            li{
                width: 200px;
                height: 31px;
                float: left;
                text-align: left;
                font-size: 14px;
                .box{
                    width: 852px;
                    height: 500px;
                    background: #ccc;
                    position: absolute;
                    left: 200px;
                    top: 0;
                    display: none;
                    .left{
                        width: 632px;
                        height: 500px;
                        background: #fff;
                        padding: 20px;
                        .p1{
                            width: 100px;
                            float: left;
                            color: #000;
                            line-height: 42px;
                            font-weight: 600;
                        }
                        .p2{
                            width: 452px;
                            text-align: left;
                            float: left;
                            margin-left: 10px;
                            border-bottom: 1px dashed #ccc;
                            padding: 10px 10px 10px 10px;
                            line-height: 22px;
                            a{
                                color: #000;
                                font-size: 14px;
                                margin: 0 3px;
                                font-weight: 400;
                            }
                            a:hover{
                                color: #C60A0A;
                            }
                        }
                    }
                    .right{
                        width: 200px;
                        height: 480px;
                        background: #fff;
                        margin: 10px;
                    }
                    }
                a{
                    color: #fff;
                }
                span{
                    display: block;
                    width: 35px;
                    height: 31px;
                    float: left;
                    font-size: 16px;
                    color: #fff;
                    text-align: center;
                }
            }
            li:hover{
                background: #fff;
                a{
                    color: #C60A0A;
                    font-weight: 600;
                }
                span{
                    color: #C60A0A;
                }
            }
        }
    }
    .div1 ul li:hover .box{
        display: block;
    }
    .div1:hover{
        background: #eee;
        color: #C60A0A;
        z-index: 999;
        ul{
            // display: block;
            // z-index: 9999;
        }
    }
    //年货买不停止
    .div2{
        width: 100px;
        background: #C60A0A;
        color: #ffe013;
        position: relative;
        z-index: 999;
        ul{
            width: 200px;
            height: 500px;
            background: #000;
            position: relative;
            left: -100px;
            top: 0;
            display: none;
            padding-top: 15px;
            div{
                width: 152px;
                height: 31px;
                border: 1px solid #C60A0A;
                border-radius: 10px;
                margin:8px 0px 8px 24px;
                color: #fff;
                line-height: 31px;
                
            }
        }
    }
    .div2:hover{
        background: #333;
        color: #fff;
        ul{
            display: block;
            div:hover{
                background: #C60A0A;
                color: #fff;
            }
        }
    }
    
    img{
        width: 100px;
        height: 30px;
        margin: 3px 8px 2px 8px;
    }
    .div3{
        margin: 0px 8px 0px 8px;

    }
    .div3 a{
        color: #333;
    }
    .div3:hover a{
        color: #FF0036;
    }
} 

//广告
#advertising .BG{
    width: 1230px;
    height: 435px;
    margin: 0 auto;
    .p1{
        font-size: 20px;
        font-weight: 600;
    }
    .p2{
        font-size: 16px;
    }
    .p_center{
        text-align: center;
        line-height: 28px;
    }
    .p_owned{
        margin: 30px 0 0 30px;
        float: left;
        .p_owned_name{
            line-height: 30px;
        }
        .p3{
            color: #fff;
            text-align: center;
            width: 80px;
            height: 30px;
            border-radius: 10px;
            font-size: 14px;
        }
    }
    .img_5{
        width: 150px;
        height: 30px;
        margin: 0 auto;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        img{
            width: 150px;
        }
    }
    .img_6{
        width: 180px;
        height: 180px;
        margin: 35px;

        img{
            width: 100%;
            height: 100%;
        }
    }
    .float_1,.float_2,.float_3,.float_4{
        position: relative;
        .img_7{
            width: 130px;
            height: 130px;
            position: absolute;
            top: 15px;
            right: 15px;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}
#advertising .BG .top{
    width: 300px;
    height: 105px;
    margin: 0 auto;
    .img_04{
        height: 70px;
        margin-top: 10px;
    }

}
#advertising .BG .left{
    width: 610px;
    height: 330px;
    float: left;
    .left1{
        width: 250px;
        height: 330px;
        border-radius: 10px;
        background: lemonchiffon;
        float: left;
        margin-right: 10px;  
        .img_5{
            background: #ff520c;
        }
        .p_center{
            color: #ff520c;
        }
    }
    .left2{
        width: 350px;
        height: 160px;
        border-radius: 10px;
        float: left;
        .p1,.p2{
            color: #ff0084;
        }
        .p3{
            background:#ff0084 ;
        }
    }
    .left3{
        margin-top: 10px;
        .p1,.p2{
            color: #009d66;
        }
        .p3{
            background:#009d66 ;
        }
    }
    .float_1{
        background: #FFECEC;
    }
    .float_2{
        background: #D2E9FF;
    }
}

#advertising .BG .right{
    width: 610px;
    height: 330px;
    margin-left: 10px;
    float: left;
    .left1{
        width: 250px;
        height: 330px;
        border-radius: 10px;
        background: lemonchiffon;
        float: left;
        margin-right: 10px;  
        .img_5{
            background: #ff0e3c;
        }
        .p_center{
            color: #ff0e3c;
        }
    }
    .right_bg{
        background: #FFEEDD;
    }
    .float_3{
        background: #D1E9E9;
    }
    .float_4{
        background: #C7C7E2;
    }
    .left2{
        width: 350px;
        height: 160px;
        border-radius: 10px;
        float: left;
        .p1,.p2{
            color: #005aff;
        }
        .p3{
            background:#005aff ;
        }
    }
    .left3{
        margin-top: 10px;
        .p1,.p2{
            color: #8300ff;
        }
        .p3{
            background:#8300ff ;
        }
    }
}
//品牌闪购
#brand .BG{
    width: $page_width;
    height: 370px;
    background: lightslategrey;
    margin: 0 auto;
    margin-top: 40px;
    //公用的部分
    .p1{
        float: left;
        font-weight:800;
    }
    .p2{
        width: 20px;
        height: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
        text-align: center;
        float: right;
    }
    img{
        width: 100%;
        height: 100%;
    }
    .top{
        width: 100%;
        height: 54px;
        background: #eee;
        overflow: hidden;
    }
    //公有的部分
    //左边
    .left{
        width: 234px;
        height: 370px;
        background: lightyellow;
        float: left;
            .top div{
                width: 214px;
                height: 54px;
                margin: 18px 10px;
                overflow: hidden;
            }
        .bottom{
            width: 234px;
            height: 316px;
            background: lightcoral;
        }
    }
    //中右边
    .div2{
        width: 485px;
        height: 370px;
        background: mediumaquamarine;
        float: left;
        margin-left: 13px;
            .top div{
                width: 465px;
                height: 54px;
                margin: 18px 10px;
                overflow: hidden;
            }
        .bottom{
            width: 485px;
            height: 316px;
            background: lightcoral;
        }
    }
    
}
//品牌推荐
#recommend .BG{
    width: 1230px;
    height: 327px;
    margin: 15px auto;
    background: #fff;
    margin-top: 40px;
}
#recommend .BG div{
    width: 123px;
    height: 109px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    position: relative;
    float: left;
    img{
        display: block;
        width: 100px;
        height: 50px;
        margin-top: 25px;
        margin-left: 10px;
    }
    a{
        position: absolute;
        left: 30px;
        top: 0;
    }
}
#recommend .BG div:hover{
    background: #000;
    p{
        display: block;
    }
    img{
        opacity: 0;
    }
}
#recommend .BG p{
    text-align: center;
    line-height: 18px;
    font-size: 12px;
    color: #fff;
    display: none;
}
#recommend .BG .p1{
    margin-top: 30px;
    margin-bottom: 8px;
}
#recommend .BG .p2{
    width: 60px;
    height: 20px;
    border-radius: 9px;
    background: red;
    margin: auto;
}

//共有部分
.BG-name{
    width: 1230px;
    height:665px;
    background: #f5f5f5;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    .top{
        width: 100%;
        height: 47px;
    }
    .logo{
    width: 214px;
    height: 25px;
    margin: 11px 0;
    }
}
.img_owned_by_all{
    img{
        width: 100%;
        height: 100%;
    }
    img:hover{
        border: 1px solid red;
        opacity: 0.8;
    }
}
//共有部分
//天猫超市
#tmallSupr{
    width: 100%;
    height: 665px;
}
#tmallSupr{
    .bottom_1{
        width: 1230px;
        height: 618px;
        position: relative;
        .left{
            width: 235px;
            height: 618px;
            background: linen;
            float: left;
            margin-right: 13px; 
            }
        .center{
            width: 484px;
            height: 302px;
            background: #fff;
            float: left;
            span{
                font-size: 24px;
            }
            .p1,.p2{
                width: 242px;
                height: 57px;
                float: left;
                background: mistyrose;
                text-align: center;
                line-height: 57px;
                font-size: 18px;
            }
            .p1_div1{
                width: 100%;
                height: 245px;
                position: relative;
                float: left;
                // display: none;
            }
            .p2_div2{
                width: 100%;
                height: 245px;
                background: lightskyblue;
                position: relative;
                float: left;
                display: none;
            }
            .p1:hover,.p2:hover{
                background: #00B262;
                color: #fff;
            }
            .p1_tally{
                width: 297px;
                height: 87px;
                position: absolute;
                bottom: 50px;
                left: 0;
                opacity: 0.8;
                z-index: 9999;
                div:nth-child(1){
                    width: 210px;
                    height: 87px;
                    background: #f5f5f5;
                    float: left;
                }
                div:nth-child(2){
                    width: 0; 
                    height: 0;
                    border-width: 43px;
                    border-style: solid;
                    border-color:transparent transparent transparent #f5f5f5;
                    float: left;
                }
                p{
                    margin-left: 20px;
                }
                p:nth-child(1){
                    color: #00B262;
                    font-size: 24px;
                    font-weight: 600;
                    line-height: 50px;
                }
                p:nth-child(2){
                    color: #000;
                    font-size: 20px;
                }
            }
            .div1_img{
                width: 200px;
                height: 200px;
                position: absolute;
                left: 242px;
                bottom: 20px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .right,.div1,.div2{
            width: 236px;
            height: 302px;
            background: #fff;
            float: left;
            .name_1{
                width: 185px;
                height: 185px;
                border: 1px solid #ccc;
                margin-left: 25px;
                margin-top: 25px;
            }
            p:nth-child(2){
                width: 135px;
                height: 40px;
                font-size: 14px;
                line-height: 20px;
                margin: 8px auto;
                text-align: center;
                color: #333;
            }
            p:nth-child(3){
                font-size: 18px;
                color: #FF0036;
                line-height: 18px;
                text-align: center;
            }
        }
        .right:hover,.div1:hover,.div2:hover{
            border: 1px solid red;
            opacity: 0.8;
        }
        .right{
            margin-left: 13px;
        }
        .div1{
            margin-top: 14px;
            margin-right: 13px;
        }
        .div2{
            width: 235px;
            margin-top: 14px;
            float: left;
        }
    }
}
//天猫超市js渲染***********************************************
#tmallSupr .div_name01{
    a{display: block;
        width: 236px;
        height: 302px;
        float: left;
        background: #fff;
        img{
            width: 185px;
            height: 185px;
            border: 1px solid #ccc;
            margin: 25px 0 0 25px;
        }
        p:nth-child(2){
            width: 200px;
            height: 40px;
            font-size: 14px;
            line-height: 20px;
            margin: 8px auto;
            text-align: center;
            color: #333;
            overflow: hidden;
        }
        p:nth-child(3){
            font-size: 18px;
            color: #FF0036;
            line-height: 18px;
            text-align: center;
        }
    }
    a:nth-child(1),a:nth-child(2){
        margin-left: 13px;
    }
    a:nth-child(3),a:nth-child(4),a:nth-child(5),a:nth-child(6){
        margin-top: 14px;
    }
    a:nth-child(4),a:nth-child(5),a:nth-child(6){
        margin-left: 12.6px;
    }
    a:hover{
        border: 1px solid red;
        opacity: 0.8;
    }

}
//天猫超市js渲染***********************************************
//左边悬浮框共有的***********************************************************
.div_name_commonality{
    width: 198px;
    height: 64px;
    background: lightsalmon;
    position: absolute;
    bottom: 20%;
    left: 0;
    span{
        display: block;
        font-size: 18px;
        line-height: 24px;
        color: #fff;
    }
    div:nth-child(1){
        width: 70px;
        background: #000;
        height: 64px;
        float: left;
        span{
            width: 40px;
            text-align: center; 
            margin: 0 auto;
            padding-top: 8px;
        }
    }
    div:nth-child(2){
        width: 128px;
        height: 64px;
        background: #999;
        float: left;
        padding-top: 8px;
        span{
            width: 118px;
            margin-left: 10px;
        }
    }
   .div2{
    margin-top: 16px;
} 
}


//左边悬浮框共有的***********************************************************

//天猫国际
#tmall_internationality .left{
    width: 235px;
    height: 618px;
    float: left;
    .div1,.div2{
        width: 235px;
        height: 301px;
        background: #fff;
        position: relative;
        float: left;
    }
}
.right-name{
    .div_k {
    width: 236px;
    height: 302px;
    background: #fff;
    float: left; 
    margin-left: 12px;
    padding: 20px;
    }
    .div_k:hover{
        border: 1px solid red;
    }
    
    .div5{
        margin-top: 13px;
    }
}
.right-name .hehe{
    line-height: 24px;
    p:nth-child(1){
    font-size: 18px;
    }
    p:nth-child(2){
    color: #7A45E5;
    }
    p:nth-child(3){
        width: 170px;
        height: 170px;
        margin: 25px 0 0 15px;
        img{
            width: 100%;
            height: 100%;
        }
    }
}
//天猫国际js渲染****************************************
.div_name02{
    a{display: block;
        width: 236px;
        height: 302px;
        float: left;
        background: #fff;
        img{
            width: 185px;
            height: 185px;
            border: 1px solid #ccc;
            margin: 25px 0 0 25px;
        }
        p:nth-child(2){
            width: 200px;
            height: 40px;
            font-size: 14px;
            line-height: 20px;
            margin: 8px auto;
            text-align: center;
            color: #333;
            overflow: hidden;
        }
        p:nth-child(3){
            font-size: 18px;
            color: #FF0036;
            line-height: 18px;
            text-align: center;
        }
        
    }
    a:nth-child(1),a:nth-child(2),a:nth-child(3){
        margin-left: 13px;
    }
    a:nth-child(4),a:nth-child(5),a:nth-child(6),a:nth-child(7){
        margin-left: 12.7px;
        margin-top: 14px;
    }
    a:hover{
        border: 1px solid red;
        opacity: 0.8;
    }

}
//天猫国际右边7项div****************************************
//广告
#boutique{
    width: 100%;
    height: 90px;
    .BG{
        width: 1230px;
        height: 90px;
        margin: 0 auto;
        img{
            width: 1230px;
            height: 90px;
        }
    }
}
//美丽生生//潮店酷玩
.title-name{
    width: 100%;
    height: 47px;
    padding-top: 13px;

    p{
        width: 1230px;
        height: 18px;
        border-left: 4px solid #000;
        font-size: 18px;
      span{
        display: block;
        width: 300px;
        height: 26px;
        margin-left: 5px;
    }  
    }
}
.left_name{
    width: 238px;
    height: 618px;
    background: lightskyblue;
    float: left;
    position: relative;
}
//美丽人生Js****************************************************8
.div_name03{
    a{display: block;
        width: 236px;
        height: 302px;
        float: left;
        background: #fff;
        margin-left: 12px;
        img{
            width: 185px;
            height: 185px;
            border: 1px solid #ccc;
            margin: 25px 0 0 25px;
        }
        p:nth-child(2){
            width: 200px;
            height: 40px;
            font-size: 14px;
            line-height: 20px;
            margin: 8px auto;
            text-align: center;
            color: #333;
            overflow: hidden;
        }
        p:nth-child(3){
            font-size: 18px;
            color: #FF0036;
            line-height: 18px;
            text-align: center;
        }
        
    }
    a:nth-child(5),a:nth-child(6),a:nth-child(7),a:nth-child(8){
        margin-top: 14px;
    }
    a:hover{
        border: 1px solid red;
        opacity: 0.8;
    }

}
#play .left_name{
    position: relative;
    .div_name_commonality div:nth-child(1) span{
        line-height: 50px;
    }
}
#family .left_name{
    position: relative;
}
#forge .left_name{
    position: relative;
}
#outdoors .left_name{
    position: relative;
}
#outdoors .title-name{
    span{
       width: 100%;
    }
    
}
//猜你喜欢
#guess h2{
    width: 1230px;
    height: 43px;
    margin: 0 auto;
    text-align: center;
}
.div_bottom{
    width: 1230px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: center;
    div{
        width: 240px;
        height: 320px;
        background: #fff;
        margin-bottom: 10px;
    }
}
.miao{
    width: 80px;
    height: 45px;
    margin: 0 auto;
    span{
        font-size: 30px;
        text-align: center;
        line-height: 50px;
        color: #ccc;
    }
}
//猜你喜欢js***********************************************************
.div_name08{
    a{display: block;
        width: 236px;
        height: 302px;
        float: left;
        background: #fff;
        margin: 7px 0;
        img{
            width: 185px;
            height: 185px;
            border: 1px solid #ccc;
            margin: 25px 0 0 25px;
        }
        p:nth-child(2){
            width: 200px;
            height: 40px;
            font-size: 14px;
            line-height: 20px;
            margin: 8px auto;
            text-align: center;
            color: #333;
            overflow: hidden;
        }
        p:nth-child(3){
            font-size: 18px;
            color: #FF0036;
            line-height: 18px;
            text-align: center;
        }
        
    }
    a:nth-child(2),a:nth-child(3),a:nth-child(4),a:nth-child(5),a:nth-child(7),a:nth-child(8),a:nth-child(9),a:nth-child(10),a:nth-child(12),a:nth-child(13),a:nth-child(14),a:nth-child(15),a:nth-child(17),a:nth-child(18),a:nth-child(19),a:nth-child(20),a:nth-child(22),a:nth-child(23),a:nth-child(24),a:nth-child(25),a:nth-child(27),a:nth-child(28),a:nth-child(29),a:nth-child(30),a:nth-child(32),a:nth-child(33),a:nth-child(34),a:nth-child(35),a:nth-child(37),a:nth-child(38),a:nth-child(39),a:nth-child(40),a:nth-child(42),a:nth-child(43),a:nth-child(44),a:nth-child(45),a:nth-child(47),a:nth-child(48),a:nth-child(49),a:nth-child(50),a:nth-child(52),a:nth-child(53),a:nth-child(54),a:nth-child(55),a:nth-child(57),a:nth-child(58),a:nth-child(59),a:nth-child(60),a:nth-child(62),a:nth-child(63),a:nth-child(64),a:nth-child(65){
        margin-left: 12.5px;
    }
    a:hover{
        border: 1px solid red;
        opacity: 0.8;
    }

}
//猜你喜欢js***********************************************************
//底部
footer{
    width: 100%;
    border-top: 1px solid #ccc;
    position: relative;
    background: #fff;
    z-index: -9999;
    .img_2{
        width: 1420px;
        height: 300px;
        z-index: -99;
        position: absolute;
        bottom: 0;
    }
    width: 1420px;
    height: 600px;
    margin: 0 auto;
    overflow: hidden;
    .top{
        width: 1190px;
        height: 100px;
        margin: 30px auto;
        article{
            width: 290px;
            height: 100px;
            float: left;
            margin-left: 7px;
            div{
                width: 100px;
                height: 100px;
                overflow: hidden;
                float: left;
                .p_quan{
                    width: 50px;
                    height: 50px;
                    border: 3px solid red;
                    font-size: 25px;
                    font-weight: 500;
                    text-align: center;
                    margin: 25px;
                    border-radius: 25px;
                    color: red;
                    line-height: 44px;
                }
            }
            p{
                width: 190px;
                height: 20px; 
                float: left;
            }
            .p1{
                font-size: 18px;
                font-weight: 800;
                margin-top: 30px;
                color: #666;
            }
            .p2{
                font-size: 16px;
                color: #999;
                margin-top: 5px;
            }
        }
    }
    .center{
        width: 1190px;
        height: 213px;
        border-top: 1px solid #000;
        margin: 0 auto;
        .name{
            margin-top: 20px;
            height: 193px;
            width: 100%;
            ul{
                width: 186px;
                height: 100%;
                margin-left: 50px;
                float: left;
                li:nth-child(1){
                    font-size: 16px;
                    font-weight:800;
                    color: #646464;
                }
                a{
                    font-size: 12px;
                    color: #646464;
                    line-height: 20px;
                }
                img{
                    width: 105px;
                    height: 105px;
                }
            }
        }
    }
}





