@charset "utf-8";
@import "compass/reset";
$page_width:1230px;
*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing:border-box;
    text-decoration: none;
}
body{
    position: relative;
    background: #f5f5f5;
    #location {
        width: 100%;
        height: 50px;
        background: #FF0036; 
        position: Fixed;
        display: none;
       .BG{
         width: 1260px;
         height: 50px;
         background: #FF0036;
         margin: 0 auto;
         position: relative;
         left: 0;
         top: 0;
         overflow: hidden;
         img{
             height: 26px;
             float: left;
             margin-top: 12px;
         }
         form {
            width: 740px;
            height: 30px;
            margin: 0 auto;
            div{
             width: 740px;
             height: 30px;
             margin-top: 10px;
             input{
                 width: 640px;
                 height: 32px;
                 margin-left: 5px;
                 background: #fff;
                 border: 4px solid #fff;
                 float: left;
                }
             button{
                 width: 90px;
                 height: 32px;
                 float: left;
                 background: #FF0036;
                 border: none;
                 font-size: 16px;
                 color: #fff;
             }
            }
         }
     }  
    }
    //楼梯****************************************************************
    #stairs{
        width: 35px;
        height: 443px;
        position: Fixed;
        left: 3%;
        top: 25%;
        display: none;
        .BG{
            font-size: 12px;
            text-align: center;
            .a1{
                background: red;
                line-height: 36px;
            }
            a{
            display: block;
            width: 35px;
            height: 35px;
            margin-top: 5px; 
            color: #fff;
            }
            .a2{
                background: #000;
                padding-top: 6px;
                opacity: 0.6;
            }
            .a2:hover{
                background: #000;
                opacity: 1;
            }
            .a3{
                background: #999;
                padding-top: 6px;
            }
        }
    }
}

//头部
#top{
    height: 80px;
    margin: 0 auto;
    background: #fe0036;
}
#top header{
    width:990px;
    height: 80px;
    margin: 0 auto;
    background: #ccc;
    img{
        width: 990px;
        height: 80px;
    }
}
//登录注册
#login{
    width: 100%;
    height: 41px;
    background: #d91e1c;
    font-size: 12px;
    color: #fff;
    line-height: 30px;
}
#login .BG{
    width: $page_width;
    height: 41px;
    margin: 0 auto;
}
#login .left{
    float: left;
}
#login .left a{
    color: #fff;
    margin-left: 20px;
}
//导航栏
#login .right ul{
    float: right;
    li{
        width: 72px;
        height: 40px;
        float: left;
        text-align: center;
        position: relative;
        div{
            position: absolute;
        }
    }
    span{
        font-size: 12px;
    }
    //1我的淘宝
    li:nth-child(1) div{
        width: 92px;
        height: 80px;
        border: 1px solid #ccc;
        border-top: none;
        background: #fff;
        display: none;
    }
    li:nth-child(1) a,li:nth-child(3) a{
        width: 92px;
        height: 40px;
        color: #666;
        font-size: 12px;
        margin-left: 5px;
        line-height: 40px;
    }
    li:nth-child(1):hover{//1.我的淘宝
        background: #fff;
        color: #fe0036;
        div{
            height: 100px;
            display: block;
            z-index: 999;
        }
        .div1 .a2:hover,.a1:hover{//已买到的宝贝，已卖出的宝贝
            color: #fe0036;
            text-decoration:underline;
        }
    } 
    li:nth-child(2):hover,li:nth-child(4):hover,li:nth-child(5):hover{//购物车/手机版/淘宝网
        color: orange;
    }
    li:nth-child(4) div{
        width: 175px;
        background: #fff;
        margin-left: -50px;
        display: none;
    }
    li:nth-child(4):hover div {
        display: block;
    }
    li:nth-child(3) div{//收藏夹
        width: 92px;
        height: 80px;
        background: #fff;
        display: none;
        border: 1px solid #ccc;
        border-top: none;
        position: absolute;
        z-index: 999;
        a{
            margin-left: 8px;
        }
    }
    li:nth-child(3):hover{//收藏夹
        background: #fff;
        color: #fe0036;
        div{
            display: block;
        }
    }
    li:nth-child(3) .a2:hover,.a1:hover{//收藏的宝贝/收藏的店铺
        color: #fe0036;
        text-decoration:underline;
    }
    li:nth-child(6):hover{//商家支持
        background: #fff;
        color: #fe0036;
    }
    li:nth-child(6) div{//商家支持
        width: 150px;
        height: 250px;
        background: #fff;
        margin-left: -78px;
        text-align: left;
        display: none;
        p{//商家、帮助
            color: #666;
            font-weight: 600;
            font-size: 12px;
            margin-left: 10px;
        }
        a{//天猫规则....
            color: #666;
            font-size: 12px;
            margin: 0 10px;
        }
        a:hover{
          color: #fe0036;  
          text-decoration:underline;
        }
        article{
            width: 150px;
            height: 80px;
            margin-top: 10px;
            border-top: 1px dashed #ccc;
            border-bottom: 1px dashed #ccc;
        }
    }

    li:nth-child(6):hover div{//移入显示商家支持
        display: block;
    }
    li:nth-child(7){
        ._div{
            width: 1190px;
            height: 200px;
            background: #fff;
            z-index: 99999;
            left:-1118px;
            border: 1px solid #ccc;
            border-top: none;
            display: none;
            p{
                font-size: 16px;
                text-align: left;
            }
            .p1{
                color: #f56a00;
            }
            .p2{
                color:#2263d4;
            }
            .p3{
                color:#666;
            }
            a{
                display: block;
                width: 82px;
                height: 40px;
                color: #666;
                float: left;
                line-height: 40px;
            }
            a:hover{
                color: #fe0036;
                text-decoration:underline;
            }
            .name_1,.name_2{
                width: 445px;
                height: 160px;
                float: left;
            }
            .name_1{
                margin: 20px 0 0 30px;
            }
            .name_2{
                border-left: 1px solid #ccc;
                margin-top: 20px;
                padding-left: 30px;
            }
            .name_3{
                width: 200px;
                height: 160px;
                border-left: 1px solid #ccc;
                float: left;
                margin: 20px 0 0 30px;
                padding-left: 30px;
            }
        }
        &:hover{
            background: #fff;
            color: #fe0036;  
        } 
        &:hover ._div{
            display: block;
        }
        
    }
   
    
}
//搜索框
#search_box{
    width: 100%;
    height: 130px;
}
#search_box .BG{
    width: $page_width;
    height: 130px;
    margin: 0 auto;
    background: #fff;
    overflow: hidden;
}
#search_box .BG .left{
    width: 290px;
    height: 130px;
    border: 1px solid #ccc;
    float: left;
}
#search_box .BG .SEO{
    width: 623px;
    height: 40px;
    background: #FF0036;
    margin: 0 auto;
    margin-top: 38px;
    border: 2px solid #FF0036;
}

#search_box .BG .SEO input{
    width: 491px;
    height: 36px;
    outline:none; 
    border: 2px solid #fff;
    font-size: 16px;
}
#search_box .BG .SEO button{
    width: 120px;
    text-align: center;
    background: #FF0036;
    border: none;
    font-size: 16px;
    font-weight:800;
    color: #fff;
}
//导航
#navigation {
    width: 100%;
    height: 36px;
}
#navigation .BG{
    width: $page_width;
    height: 36px;
    margin: 0 auto;
}
#navigation .BG .inner {
    div{
        float: left;
        height: 36px;
        text-align: center;
        line-height: 36px;
    } 
    ul{
        font-size: 14px;
    }
    //商品分类***************************************************
    .div1{
        width: 100px;
        background: #C60A0A;
        color: #fff;
        ul{
            width: 200px;
            height: 500px;
            display: none;
            background: #000;
            opacity: 0.8;
            position: relative;
            li{
                width: 200px;
                height: 31px;
                float: left;
                text-align: left;
                font-size: 14px;
                .box{
                    width: 852px;
                    height: 500px;
                    background: #ccc;
                    position: absolute;
                    left: 200px;
                    top: 0;
                    display: none;
                    .left{
                        width: 632px;
                        height: 500px;
                        background: #fff;
                        padding: 20px;
                        .p1{
                            width: 100px;
                            float: left;
                            color: #000;
                            line-height: 42px;
                            font-weight: 600;
                        }
                        .p2{
                            width: 452px;
                            text-align: left;
                            float: left;
                            margin-left: 10px;
                            border-bottom: 1px dashed #ccc;
                            padding: 10px 10px 10px 10px;
                            line-height: 22px;
                            a{
                                color: #000;
                                font-size: 14px;
                                margin: 0 3px;
                                font-weight: 400;
                            }
                            a:hover{
                                color: #C60A0A;
                            }
                        }
                    }
                    .right{
                        width: 200px;
                        height: 480px;
                        background: #fff;
                        margin: 10px;
                    }
                    }
                a{
                    color: #fff;
                }
                span{
                    display: block;
                    width: 35px;
                    height: 31px;
                    float: left;
                    font-size: 16px;
                    color: #fff;
                    text-align: center;
                }
            }
            li:hover{
                background: #fff;
                z-index: 99;
                a{
                    color: #C60A0A;
                    font-weight: 600;
                }
                span{
                    color: #C60A0A;
                }
            }
        }
    }
    .div1 ul li:hover .box{
        display: block;
        z-index: 99;
    }
    .div1:hover{
        background: #eee;
        color: #C60A0A;
        z-index: 999;
        ul{
            display: block;
        }
    }
    //年货买不停止
    .div2{
        width: 100px;
        background: #C60A0A;
        color: #ffe013;
        position: relative;
        ul{
            width: 200px;
            height: 500px;
            background: #000;
            opacity: 0.8;
            position: relative;
            left: -100px;
            top: 0;
            display: none;
            padding-top: 15px;
            div{
                width: 152px;
                height: 31px;
                border: 1px solid #C60A0A;
                border-radius: 10px;
                margin:8px 0px 8px 24px;
                color: #fff;
                line-height: 31px;
                
            }
        }
    }
    .div2:hover{
        background: #333;
        color: #fff;
        ul{
            display: block;
            div:hover{
                background: #C60A0A;
                color: #fff;
            }
        }
    }
    
    img{
        width: 100px;
        height: 30px;
        margin: 3px 8px 2px 8px;
    }
    .div3{
        margin: 0px 8px 0px 8px;

    }
    .div3 a{
        color: #333;
    }
    .div3:hover a{
        color: #FF0036;
    }
} 

//轮播图
#slideshow{
    z-index: -99;
    position: relative;
    .logo_1{
        width: 1600px;
        margin: 0 auto;
        position: absolute;
        top: -195px;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -999999;
    }
    .BG{
        width: $page_width;
        height: 500px;
        background: lightyellow;
        margin: 0 auto;
        position: relative;
        .slideshow_nav{
            width: 200px;
            height: 5px;
            position: absolute;
            top: 90%;
            left: 45%;
            li{
                width: 25px;
                height: 5px;
                float: left;
                background: red;
                margin: 0 5px;
            }
        }
    }
}
//广告
#advertising .BG{
    width: 1230px;
    height: 435px;
    margin: 0 auto;
    .p1{
        font-size: 20px;
        font-weight: 600;
    }
    .p2{
        font-size: 16px;
    }
    .p_center{
        text-align: center;
        line-height: 28px;
    }
    .p_owned{
        margin: 30px 0 0 30px;
        float: left;
        .p_owned_name{
            line-height: 30px;
        }
        .p3{
            color: #fff;
            text-align: center;
            width: 80px;
            height: 30px;
            border-radius: 10px;
            font-size: 14px;
        }
    }
    .img_5{
        width: 150px;
        height: 30px;
        margin: 0 auto;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        img{
            width: 150px;
        }
    }
    .img_6{
        width: 180px;
        height: 180px;
        border: 1px solid red;
        margin: 35px 35px 35px 35px;

        img{
            width: 100%;
            height: 100%;
        }
    }
    .float_1,.float_2,.float_3,.float_4{
        position: relative;
        .img_7{
            width: 130px;
            height: 130px;
            position: absolute;
            border: 1px solid red;
            top: 15px;
            right: 15px;
        }
    }
}
#advertising .BG .top{
    width: 300px;
    height: 105px;
    margin: 0 auto;
    .img_04{
        height: 70px;
        margin-top: 10px;
    }

}
#advertising .BG .left{
    width: 610px;
    height: 330px;
    float: left;
    .left1{
        width: 250px;
        height: 330px;
        border-radius: 10px;
        background: lemonchiffon;
        float: left;
        margin-right: 10px;  
        .img_5{
            background: #ff520c;
        }
        .p_center{
            color: #ff520c;
        }
    }
    .left2{
        width: 350px;
        height: 160px;
        border-radius: 10px;
        float: left;
        .p1,.p2{
            color: #ff0084;
        }
        .p3{
            background:#ff0084 ;
        }
    }
    .left3{
        margin-top: 10px;
        .p1,.p2{
            color: #009d66;
        }
        .p3{
            background:#009d66 ;
        }
    }
    .float_1{
        background: #FFECEC;
    }
    .float_2{
        background: #D2E9FF;
    }
}

#advertising .BG .right{
    width: 610px;
    height: 330px;
    margin-left: 10px;
    float: left;
    .left1{
        width: 250px;
        height: 330px;
        border-radius: 10px;
        background: lemonchiffon;
        float: left;
        margin-right: 10px;  
        .img_5{
            background: #ff0e3c;
        }
        .p_center{
            color: #ff0e3c;
        }
    }
    .right_bg{
        background: #FFEEDD;
    }
    .float_3{
        background: #D1E9E9;
    }
    .float_4{
        background: #C7C7E2;
    }
    .left2{
        width: 350px;
        height: 160px;
        border-radius: 10px;
        float: left;
        .p1,.p2{
            color: #005aff;
        }
        .p3{
            background:#005aff ;
        }
    }
    .left3{
        margin-top: 10px;
        .p1,.p2{
            color: #8300ff;
        }
        .p3{
            background:#8300ff ;
        }
    }
}
//品牌闪购
#brand .BG{
    width: $page_width;
    height: 370px;
    background: lightslategrey;
    margin: 0 auto;
    margin-top: 40px;
    //公用的部分
    .p1{
        float: left;
        font-weight:800;
    }
    .p2{
        width: 20px;
        height: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
        text-align: center;
        float: right;
    }
    img{
        width: 100%;
        height: 100%;
    }
    .top{
        width: 100%;
        height: 54px;
        background: #eee;
        overflow: hidden;
    }
    //公有的部分
    //左边
    .left{
        width: 234px;
        height: 370px;
        background: lightyellow;
        float: left;
            .top div{
                width: 214px;
                height: 54px;
                margin: 18px 10px;
                overflow: hidden;
            }
        .bottom{
            width: 234px;
            height: 316px;
            background: lightcoral;
        }
    }
    //中右边
    .div2{
        width: 485px;
        height: 370px;
        background: mediumaquamarine;
        float: left;
        margin-left: 13px;
            .top div{
                width: 465px;
                height: 54px;
                margin: 18px 10px;
                overflow: hidden;
            }
        .bottom{
            width: 485px;
            height: 316px;
            background: lightcoral;
        }
    }
    
}
//品牌推荐
#recommend .BG{
    width: 1230px;
    height: 327px;
    margin: 15px auto;
    background: lightgoldenrodyellow;
}
#recommend .BG div{
    width: 123px;
    height: 109px;
    background: #fff;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    float: left;
}
#recommend .BG div:hover{
    background: #000;
    opacity: 0.7;
    .p2{
        display: block;
    }
}
#recommend .BG p{
    width: 100%;
    text-align: center;
    line-height: 18px;
    font-size: 12px;
    color: #fff;
}
#recommend .BG .p1{
    margin-top: 30px;
    margin-bottom: 8px;
}
#recommend .BG .p2{
    width: 60px;
    height: 20px;
    border-radius: 9px;
    background: red;
    margin: auto;
    display: none;
}

//共有部分
.BG-name{
    width: 1230px;
    height:665px;
    background: #ccc;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    .top{
        width: 100%;
        height: 47px;
    }
    .logo{
    width: 214px;
    height: 25px;
    margin: 11px 0;
    }
}
//共有部分
//天猫超市
#tmallSupr{
    width: 100%;
    height: 665px;
}
#tmallSupr{
    .bottom{
        width: 1230px;
        height: 618px;
        .left{
            width: 235px;
            height: 618px;
            background: linen;
            float: left;
            margin-right: 13px; 
            }
        .center{
            width: 484px;
            height: 302px;
            background: mediumaquamarine;
            float: left;
            span{
                font-size: 24px;
            }
            .p1,.p2{
                width: 242px;
                height: 57px;
                float: left;
                background: mistyrose;
                text-align: center;
                line-height: 57px;
                font-size: 18px;
            }
            .p1_div1{
                width: 100%;
                height: 245px;
                background: lightsalmon;
                position: relative;
                float: left;
                // display: none;
            }
            .p2_div2{
                width: 100%;
                height: 245px;
                background: lightskyblue;
                position: relative;
                float: left;
                display: none;
            }
            .p1:hover,.p2:hover{
                background: #00B262;
                color: #fff;
            }
            .p1_tally{
                width: 297px;
                height: 87px;
                position: absolute;
                bottom: 50px;
                left: 0;
                opacity: 0.8;
                z-index: 9999;
                div:nth-child(1){
                    width: 210px;
                    height: 87px;
                    background: #f5f5f5;
                    float: left;
                }
                div:nth-child(2){
                    width: 0; 
                    height: 0;
                    border-width: 43px;
                    border-style: solid;
                    border-color:transparent transparent transparent #f5f5f5;
                    float: left;
                }
                p{
                    margin-left: 20px;
                }
                p:nth-child(1){
                    color: #00B262;
                    font-size: 24px;
                    font-weight: 600;
                    line-height: 50px;
                }
                p:nth-child(2){
                    color: #000;
                    font-size: 20px;
                }
            }
            .div1_img{
                width: 200px;
                height: 200px;
                border: 1px solid red;
                position: absolute;
                left: 242px;
                bottom: 20px;
            }
        }
        .right,.div1,.div2{
            width: 236px;
            height: 302px;
            background: #fff;
            float: left;
            .name_1{
                width: 185px;
                height: 185px;
                border: 1px solid #ccc;
                margin-left: 25px;
                margin-top: 25px;
            }
            p:nth-child(2){
                width: 135px;
                height: 40px;
                font-size: 14px;
                line-height: 20px;
                margin: 8px auto;
                text-align: center;
                color: #333;
            }
            p:nth-child(3){
                font-size: 18px;
                color: #FF0036;
                line-height: 18px;
                text-align: center;
            }
        }
        .right:hover,.div1:hover,.div2:hover{
            border: 1px solid red;
            opacity: 0.8;
        }
        .right{
            margin-left: 13px;
        }
        .div1{
            margin-top: 14px;
            margin-right: 13px;
        }
        .div2{
            width: 235px;
            margin-top: 14px;
            float: left;
        }
    }
}

//天猫国际
#tmall_internationality .left{
    width: 235px;
    height: 618px;
    float: left;
    .div1,.div2{
        width: 235px;
        height: 301px;
        background: #fff;
        position: relative;
        float: left;
    }
    .div_name{
        width: 198px;
        height: 64px;
        background: lightsalmon;
        position: absolute;
        bottom: 20%;
        left: 0;
        span{
            display: block;
            font-size: 18px;
            line-height: 24px;
            color: #fff;
        }
        div:nth-child(1){
            width: 70px;
            background: #000;
            height: 64px;
            float: left;
            span{
                width: 40px;
                text-align: center; 
                margin: 0 auto;
                padding-top: 8px;
            }
        }
        div:nth-child(2){
            width: 128px;
            height: 64px;
            background: #999;
            float: left;
            padding-top: 8px;
            span{
                width: 118px;
                margin-left: 10px;
            }
        }
    }
    .div2{
        margin-top: 16px;
    }
}
.right-name{
    .div_k {
    width: 236px;
    height: 302px;
    background: #fff;
    float: left; 
    margin-left: 12px;
    padding: 20px;
    }
    
    .div5{
        margin-top: 13px;
    }
}
.right-name .hehe{
    line-height: 24px;
    p:nth-child(1){
    font-size: 18px;
    }
    p:nth-child(2){
    color: #7A45E5;
    }
    p:nth-child(3){
        width: 170px;
        height: 170px;
        border: 1px solid red;
        margin: 25px 0 0 15px;
    }
}
//天猫国际右边7项div****************************************
.div_name{
    .name_1{
        width: 185px;
        height: 185px;
        border: 1px solid #ccc;
        margin: 5px 0 0 5px;
    }
    p:nth-child(2){
        width: 135px;
        height: 40px;
        font-size: 14px;
        line-height: 20px;
        margin: 8px auto;
        text-align: center;
        color: #333;
    }
    p:nth-child(3){
        font-size: 18px;
        color: #FF0036;
        line-height: 18px;
        text-align: center;
    }
}
//天猫国际右边7项div****************************************
//广告
#boutique{
    width: 100%;
    height: 90px;
    .BG{
        width: 1230px;
        height: 90px;
        margin: 0 auto;
        img{
            width: 1230px;
            height: 90px;
        }
    }
}
//美丽生生//潮店酷玩
.title-name{
    width: 100%;
    height: 47px;
    background: #00B262;
    padding-top: 13px;

    p{
        width: 1230px;
        height: 18px;
        border-left: 4px solid #000;
        font-size: 18px;
      span{
        display: block;
        width: 300px;
        height: 26px;
        margin-left: 5px;
    }  
    }
}
.left_name{
    width: 238px;
    height: 618px;
    background: lightskyblue;
    float: left;
}
//猜你喜欢
#guess h2{
    width: 1230px;
    height: 43px;
    margin: 0 auto;
    text-align: center;
}
.div_bottom{
    width: 1230px;
    margin: 0 auto;
    background: lightgoldenrodyellow;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: center;
    div{
        width: 240px;
        height: 320px;
        background: #fff;
        margin-bottom: 10px;
    }
}
.miao{
    width: 80px;
    height: 45px;
    margin: 0 auto;
    span{
        font-size: 30px;
        text-align: center;
        line-height: 50px;
        color: #ccc;
    }
}
//底部
footer{
    width: 100%;
    border-top: 1px solid #ccc;
    position: relative;
    background: #fff;
    z-index: -9999;
    .img_2{
        width: 1420px;
        height: 300px;
        z-index: -99;
        position: absolute;
        bottom: 0;
    }
    width: 1420px;
    height: 600px;
    margin: 0 auto;
    overflow: hidden;
    .top{
        width: 1190px;
        height: 100px;
        margin: 30px auto;
        article{
            width: 290px;
            height: 100px;
            float: left;
            margin-left: 7px;
            div{
                width: 100px;
                height: 100px;
                overflow: hidden;
                float: left;
                .p_quan{
                    width: 50px;
                    height: 50px;
                    border: 3px solid red;
                    font-size: 25px;
                    font-weight: 500;
                    text-align: center;
                    margin: 25px;
                    border-radius: 25px;
                    color: red;
                    line-height: 44px;
                }
            }
            p{
                width: 190px;
                height: 20px; 
                float: left;
            }
            .p1{
                font-size: 18px;
                font-weight: 800;
                margin-top: 30px;
                color: #666;
            }
            .p2{
                font-size: 16px;
                color: #999;
                margin-top: 5px;
            }
        }
    }
    .center{
        width: 1190px;
        height: 213px;
        border-top: 1px solid #000;
        margin: 0 auto;
        .name{
            margin-top: 20px;
            height: 193px;
            width: 100%;
            ul{
                width: 186px;
                height: 100%;
                margin-left: 50px;
                float: left;
                li:nth-child(1){
                    font-size: 16px;
                    font-weight:800;
                    color: #646464;
                }
                a{
                    font-size: 12px;
                    color: #646464;
                    line-height: 20px;
                }
                img{
                    width: 105px;
                    height: 105px;
                }
            }
        }
    }
    .bottom{
        width: 1190px;
        height: 236px;
        background: #000;
        margin: 0 auto;
        border-top: 2px solid #FF0036;
        overflow: hidden;
        .ul_1{
            width: 1190px;
            height: 35px;
            line-height: 35px;
            color: #fff;
            font-size: 12px;
            a{
                float: left;
                margin-right: 5px;
                color: #fff;
            }
            span{
                float: left;
            }
        }
        div{
            font-size: 12px;
            height: 20px;
            color: #ccc;
            float: left;
            margin-right: 65px;
            line-height: 20px;
            a{
                color: #ccc;
            }
        }
        p{
            color: #333;
            width: 1190px;
            float: left;
            line-height: 20px;
            font-size: 12px;
        }
    }
}
//定位搜索框





