/* line 1, ../sass/details.scss */
.center_name {
  width: 100%;
  border-top: 1px solid #000;
  overflow: hidden;
}
/* line 5, ../sass/details.scss */
.center_name article {
  width: 1200px;
  height: 800px;
  margin: 50px auto 0;
  position: relative;
}
/* line 12, ../sass/details.scss */
.center_name .left {
  width: 400px;
  height: 600px;
  position: relative;
  float: left;
}
/* line 17, ../sass/details.scss */
.center_name .left .xt {
  width: 400px;
  height: 400px;
  border: 1px solid #ccc;
  position: relative;
}
/* line 22, ../sass/details.scss */
.center_name .left .xt img {
  width: 100%;
  height: 100%;
}
/* line 26, ../sass/details.scss */
.center_name .left .xt .xf {
  background: lemonchiffon;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;
  display: none;
}
/* line 35, ../sass/details.scss */
.center_name .left .df {
  width: 450px;
  height: 450px;
  position: absolute;
  top: 0;
  left: 420px;
  display: none;
  overflow: hidden;
}
/* line 43, ../sass/details.scss */
.center_name .left .df img {
  position: absolute;
  width: 800px;
  height: 800px;
}
/* line 49, ../sass/details.scss */
.center_name .left .lbt {
  margin-top: 20px;
  width: 400px;
  height: 72px;
}
/* line 53, ../sass/details.scss */
.center_name .left .lbt span {
  display: block;
  float: left;
  width: 19px;
  height: 70px;
  border: 1px solid #ccc;
  line-height: 72px;
  font-size: 20px;
  text-align: center;
  color: #999;
}
/* line 64, ../sass/details.scss */
.center_name .left .lbt li {
  width: 72px;
  height: 72px;
  border: 1px solid #ccc;
  float: left;
}
/* line 69, ../sass/details.scss */
.center_name .left .lbt li img {
  width: 100%;
  height: 100%;
}
/* line 76, ../sass/details.scss */
.center_name .right {
  width: 500px;
  height: 400px;
  padding: 0px 20px;
  float: left;
}
/* line 81, ../sass/details.scss */
.center_name .right .title {
  width: 350px;
  margin: 0 auto;
  line-height: 40px;
  font-size: 16px;
  font-weight: 600;
}
/* line 88, ../sass/details.scss */
.center_name .right .price {
  width: 350px;
  height: 40px;
  background: #ccc;
  margin: 0 auto;
  text-align: center;
  line-height: 40px;
  font-size: 22px;
  color: orangered;
}
/* line 98, ../sass/details.scss */
.center_name .right .num {
  width: 350px;
  height: 50px;
  margin: 0 auto;
  padding-top: 10px;
}
/* line 103, ../sass/details.scss */
.center_name .right .num input {
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  border: none;
  font-size: 20px;
  text-align: center;
  line-height: 30px;
}
/* line 112, ../sass/details.scss */
.center_name .right .num button {
  width: 10px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}
/* line 119, ../sass/details.scss */
.center_name .right .close {
  width: 400px;
  height: 60px;
  margin: 0 auto;
  padding-left: 40px;
  padding-top: 10px;
}
/* line 125, ../sass/details.scss */
.center_name .right .close a {
  display: block;
  width: 150px;
  height: 40px;
  float: left;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  margin: 5px;
}
/* line 135, ../sass/details.scss */
.center_name .right .close .a1 {
  color: orangered;
  background: pink;
  border: 1px solid red;
}
/* line 140, ../sass/details.scss */
.center_name .right .close a:hover {
  opacity: 0.8;
}
/* line 143, ../sass/details.scss */
.center_name .right .close .a2 {
  color: #fff;
  background: red;
}
