/* line 5, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/index.scss */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

/* line 11, ../sass/index.scss */
body {
  position: relative;
  background: #f5f5f5;
}
/* line 14, ../sass/index.scss */
body #location {
  width: 100%;
  height: 50px;
  background: #FF0036;
  position: Fixed;
  display: none;
}
/* line 20, ../sass/index.scss */
body #location .BG {
  width: 1260px;
  height: 50px;
  background: #FF0036;
  margin: 0 auto;
  position: relative;
  left: 0;
  top: 0;
  overflow: hidden;
}
/* line 29, ../sass/index.scss */
body #location .BG img {
  height: 26px;
  float: left;
  margin-top: 12px;
}
/* line 34, ../sass/index.scss */
body #location .BG form {
  width: 740px;
  height: 30px;
  margin: 0 auto;
}
/* line 38, ../sass/index.scss */
body #location .BG form div {
  width: 740px;
  height: 30px;
  margin-top: 10px;
}
/* line 42, ../sass/index.scss */
body #location .BG form div input {
  width: 640px;
  height: 32px;
  margin-left: 5px;
  background: #fff;
  border: 4px solid #fff;
  float: left;
}
/* line 50, ../sass/index.scss */
body #location .BG form div button {
  width: 90px;
  height: 32px;
  float: left;
  background: #FF0036;
  border: none;
  font-size: 16px;
  color: #fff;
}
/* line 63, ../sass/index.scss */
body #stairs {
  width: 35px;
  height: 443px;
  position: Fixed;
  left: 3%;
  top: 25%;
  display: none;
}
/* line 70, ../sass/index.scss */
body #stairs .BG {
  font-size: 12px;
  text-align: center;
}
/* line 73, ../sass/index.scss */
body #stairs .BG .a1 {
  background: red;
  line-height: 36px;
}
/* line 77, ../sass/index.scss */
body #stairs .BG a {
  display: block;
  width: 35px;
  height: 35px;
  margin-top: 5px;
  color: #fff;
}
/* line 84, ../sass/index.scss */
body #stairs .BG .a2 {
  background: #000;
  padding-top: 6px;
  opacity: 0.6;
}
/* line 89, ../sass/index.scss */
body #stairs .BG .a2:hover {
  background: #000;
  opacity: 1;
}
/* line 93, ../sass/index.scss */
body #stairs .BG .a3 {
  background: #999;
  padding-top: 6px;
}

/* line 100, ../sass/index.scss */
.logo_1 {
  width: 1600px;
  position: absolute;
  top: 93px;
  z-index: -99999;
}

/* line 107, ../sass/index.scss */
#top {
  width: 100%;
  height: 80px;
  margin: 0 auto;
  background: #fe0036;
}

/* line 113, ../sass/index.scss */
#top header {
  width: 1230px;
  height: 80px;
  margin: 0 auto;
  background: #ccc;
}

/* line 120, ../sass/index.scss */
#login {
  width: 100%;
  height: 41px;
  background: #d91e1c;
  font-size: 12px;
  color: #fff;
  line-height: 26px;
}

/* line 128, ../sass/index.scss */
#login .BG {
  width: 1230px;
  height: 41px;
  margin: 0 auto;
}

/* line 133, ../sass/index.scss */
#login .left {
  float: left;
}

/* line 136, ../sass/index.scss */
#login .left a {
  color: #fff;
  margin-left: 20px;
}

/* line 141, ../sass/index.scss */
#login .right ul {
  float: right;
}

/* line 144, ../sass/index.scss */
#login .right li {
  width: 72px;
  height: 40px;
  float: left;
  text-align: center;
}

/* line 151, ../sass/index.scss */
#login .right li:nth-child(1) div {
  width: 92px;
  height: 40px;
  background: #fff;
  display: none;
}

/* line 157, ../sass/index.scss */
#login .right li:nth-child(1):hover {
  background: #fff;
  color: #fe0036;
  text-decoration: underline;
}
/* line 161, ../sass/index.scss */
#login .right li:nth-child(1):hover div {
  display: block;
}

/* line 165, ../sass/index.scss */
#login .right li:nth-child(1) .div1:hover .a1 {
  color: #fe0036;
  text-decoration: underline;
}

/* line 169, ../sass/index.scss */
#login .right li:nth-child(1) .div2:hover .a2 {
  color: #fe0036;
  text-decoration: underline;
}

/* line 174, ../sass/index.scss */
#login .right li:nth-child(3) div {
  width: 92px;
  height: 40px;
  background: #fff;
  display: none;
}

/* line 180, ../sass/index.scss */
#login .right li:nth-child(3):hover {
  background: #fff;
  color: #fe0036;
  text-decoration: underline;
}
/* line 184, ../sass/index.scss */
#login .right li:nth-child(3):hover div {
  display: block;
}

/* line 188, ../sass/index.scss */
#login .right li:nth-child(3) .div1:hover .a1 {
  color: #fe0036;
  text-decoration: underline;
}

/* line 192, ../sass/index.scss */
#login .right li:nth-child(3) .div2:hover .a2 {
  color: #fe0036;
  text-decoration: underline;
}

/* line 197, ../sass/index.scss */
#search_box {
  width: 100%;
  height: 130px;
}

/* line 201, ../sass/index.scss */
#search_box .BG {
  width: 1230px;
  height: 130px;
  margin: 0 auto;
  background: #fff;
  overflow: hidden;
}

/* line 208, ../sass/index.scss */
#search_box .BG .left {
  width: 290px;
  height: 130px;
  border: 1px solid #ccc;
  float: left;
}

/* line 214, ../sass/index.scss */
#search_box .BG .SEO {
  width: 623px;
  height: 40px;
  background: #FF0036;
  margin: 0 auto;
  margin-top: 38px;
  border: 2px solid #FF0036;
}

/* line 223, ../sass/index.scss */
#search_box .BG .SEO input {
  width: 491px;
  height: 36px;
  outline: none;
  border: 2px solid #fff;
  font-size: 16px;
}

/* line 230, ../sass/index.scss */
#search_box .BG .SEO button {
  width: 120px;
  text-align: center;
  background: #FF0036;
  border: none;
  font-size: 16px;
  font-weight: 800;
  color: #fff;
}

/* line 240, ../sass/index.scss */
#navigation {
  width: 100%;
  height: 36px;
}

/* line 244, ../sass/index.scss */
#navigation .BG {
  width: 1230px;
  height: 36px;
  margin: 0 auto;
}

/* line 250, ../sass/index.scss */
#navigation .BG .inner div {
  float: left;
  height: 36px;
  text-align: center;
  line-height: 36px;
}
/* line 256, ../sass/index.scss */
#navigation .BG .inner ul {
  font-size: 14px;
}
/* line 259, ../sass/index.scss */
#navigation .BG .inner .div1 {
  width: 100px;
  background: #C60A0A;
  color: #fff;
}
/* line 263, ../sass/index.scss */
#navigation .BG .inner .div1 ul {
  width: 200px;
  height: 500px;
  display: none;
  background: #000;
  opacity: 0.8;
}
/* line 269, ../sass/index.scss */
#navigation .BG .inner .div1 ul span {
  display: block;
  width: 35px;
  height: 31px;
  float: left;
}
/* line 275, ../sass/index.scss */
#navigation .BG .inner .div1 ul li {
  width: 200px;
  height: 31px;
  float: left;
  text-align: left;
  font-size: 14px;
}
/* line 281, ../sass/index.scss */
#navigation .BG .inner .div1 ul li a {
  color: #fff;
}
/* line 285, ../sass/index.scss */
#navigation .BG .inner .div1 ul li:hover {
  background: #fff;
}
/* line 287, ../sass/index.scss */
#navigation .BG .inner .div1 ul li:hover a {
  color: #C60A0A;
  font-weight: 600;
}
/* line 294, ../sass/index.scss */
#navigation .BG .inner .div1:hover {
  background: #eee;
  color: #C60A0A;
}
/* line 297, ../sass/index.scss */
#navigation .BG .inner .div1:hover ul {
  display: block;
}
/* line 302, ../sass/index.scss */
#navigation .BG .inner .div2 {
  width: 100px;
  background: #C60A0A;
  color: #ffe013;
  position: relative;
}
/* line 307, ../sass/index.scss */
#navigation .BG .inner .div2 ul {
  width: 200px;
  height: 500px;
  background: #000;
  opacity: 0.8;
  position: relative;
  left: -100px;
  top: 0;
  display: none;
  padding-top: 15px;
}
/* line 317, ../sass/index.scss */
#navigation .BG .inner .div2 ul div {
  width: 152px;
  height: 31px;
  border: 1px solid #C60A0A;
  border-radius: 10px;
  margin: 8px 0px 8px 24px;
  color: #fff;
  line-height: 31px;
}
/* line 328, ../sass/index.scss */
#navigation .BG .inner .div2:hover {
  background: #333;
  color: #fff;
}
/* line 331, ../sass/index.scss */
#navigation .BG .inner .div2:hover ul {
  display: block;
}
/* line 333, ../sass/index.scss */
#navigation .BG .inner .div2:hover ul div:hover {
  background: #C60A0A;
  color: #fff;
}
/* line 340, ../sass/index.scss */
#navigation .BG .inner img {
  width: 100px;
  height: 30px;
  margin: 3px 8px 2px 8px;
}
/* line 345, ../sass/index.scss */
#navigation .BG .inner .div3 {
  margin: 0px 8px 0px 8px;
}
/* line 349, ../sass/index.scss */
#navigation .BG .inner .div3 a {
  color: #333;
}
/* line 352, ../sass/index.scss */
#navigation .BG .inner .div3:hover a {
  color: #FF0036;
}

/* line 358, ../sass/index.scss */
#slideshow .BG {
  width: 1230px;
  height: 500px;
  background: lightyellow;
  margin: 0 auto;
}

/* line 365, ../sass/index.scss */
#advertising .BG {
  width: 1230px;
  height: 435px;
  margin: 0 auto;
}

/* line 370, ../sass/index.scss */
#advertising .BG .top {
  width: 1230px;
  height: 105px;
}

/* line 375, ../sass/index.scss */
#advertising .BG .left {
  width: 610px;
  height: 330px;
  float: left;
}
/* line 379, ../sass/index.scss */
#advertising .BG .left .left1 {
  width: 250px;
  height: 330px;
  border-radius: 10px;
  background: lemonchiffon;
  float: left;
  margin-right: 10px;
}
/* line 387, ../sass/index.scss */
#advertising .BG .left .left2 {
  width: 350px;
  height: 160px;
  border-radius: 10px;
  background: lightgreen;
  float: left;
}
/* line 394, ../sass/index.scss */
#advertising .BG .left .left3 {
  margin-top: 10px;
}

/* line 399, ../sass/index.scss */
#advertising .BG .right {
  width: 610px;
  height: 330px;
  margin-left: 10px;
  float: left;
}
/* line 404, ../sass/index.scss */
#advertising .BG .right .left1 {
  width: 250px;
  height: 330px;
  border-radius: 10px;
  background: lemonchiffon;
  float: left;
  margin-right: 10px;
}
/* line 412, ../sass/index.scss */
#advertising .BG .right .left2 {
  width: 350px;
  height: 160px;
  border-radius: 10px;
  background: lightgreen;
  float: left;
}
/* line 419, ../sass/index.scss */
#advertising .BG .right .left3 {
  margin-top: 10px;
}

/* line 424, ../sass/index.scss */
#brand .BG {
  width: 1230px;
  height: 370px;
  background: lightslategrey;
  margin: 0 auto;
  margin-top: 40px;
}
/* line 431, ../sass/index.scss */
#brand .BG .p1 {
  float: left;
  font-weight: 800;
}
/* line 435, ../sass/index.scss */
#brand .BG .p2 {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
  float: right;
}
/* line 443, ../sass/index.scss */
#brand .BG img {
  width: 100%;
  height: 100%;
}
/* line 447, ../sass/index.scss */
#brand .BG .top {
  width: 100%;
  height: 54px;
  background: #eee;
  overflow: hidden;
}
/* line 455, ../sass/index.scss */
#brand .BG .left {
  width: 234px;
  height: 370px;
  background: lightyellow;
  float: left;
}
/* line 460, ../sass/index.scss */
#brand .BG .left .top div {
  width: 214px;
  height: 54px;
  margin: 18px 10px;
  overflow: hidden;
}
/* line 466, ../sass/index.scss */
#brand .BG .left .bottom {
  width: 234px;
  height: 316px;
  background: lightcoral;
}
/* line 473, ../sass/index.scss */
#brand .BG .div2 {
  width: 485px;
  height: 370px;
  background: mediumaquamarine;
  float: left;
  margin-left: 13px;
}
/* line 479, ../sass/index.scss */
#brand .BG .div2 .top div {
  width: 465px;
  height: 54px;
  margin: 18px 10px;
  overflow: hidden;
}
/* line 485, ../sass/index.scss */
#brand .BG .div2 .bottom {
  width: 485px;
  height: 316px;
  background: lightcoral;
}

/* line 494, ../sass/index.scss */
#recommend .BG {
  width: 1230px;
  height: 327px;
  margin: 15px auto;
  background: lightgoldenrodyellow;
}

/* line 500, ../sass/index.scss */
#recommend .BG div {
  width: 123px;
  height: 109px;
  background: #fff;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  float: left;
}

/* line 508, ../sass/index.scss */
#recommend .BG div:hover {
  background: #000;
  opacity: 0.7;
}
/* line 511, ../sass/index.scss */
#recommend .BG div:hover .p2 {
  display: block;
}

/* line 515, ../sass/index.scss */
#recommend .BG p {
  width: 100%;
  text-align: center;
  line-height: 18px;
  font-size: 12px;
  color: #fff;
}

/* line 522, ../sass/index.scss */
#recommend .BG .p1 {
  margin-top: 30px;
  margin-bottom: 8px;
}

/* line 526, ../sass/index.scss */
#recommend .BG .p2 {
  width: 60px;
  height: 20px;
  border-radius: 9px;
  background: red;
  margin: auto;
  display: none;
}

/* line 536, ../sass/index.scss */
.BG-name {
  width: 1230px;
  height: 665px;
  background: #ccc;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 543, ../sass/index.scss */
.BG-name .top {
  width: 100%;
  height: 47px;
}
/* line 547, ../sass/index.scss */
.BG-name .logo {
  width: 214px;
  height: 25px;
  margin: 11px 0;
}

/* line 555, ../sass/index.scss */
#tmallSupr {
  width: 100%;
  height: 665px;
}

/* line 560, ../sass/index.scss */
#tmallSupr .bottom {
  width: 1230px;
  height: 618px;
  background: lightskyblue;
}
/* line 564, ../sass/index.scss */
#tmallSupr .bottom .left {
  width: 235px;
  height: 618px;
  background: linen;
  float: left;
  margin-right: 13px;
}
/* line 572, ../sass/index.scss */
#tmallSupr .bottom .center {
  width: 484px;
  height: 302px;
  background: mediumaquamarine;
  float: left;
}
/* line 577, ../sass/index.scss */
#tmallSupr .bottom .center p {
  width: 241px;
  height: 57px;
  float: left;
  background: mistyrose;
  text-align: center;
  line-height: 57px;
  font-size: 18px;
}
/* line 586, ../sass/index.scss */
#tmallSupr .bottom .center p:hover {
  background: #00B262;
  color: #fff;
}
/* line 591, ../sass/index.scss */
#tmallSupr .bottom .right {
  width: 236px;
  height: 302px;
  background: mediumslateblue;
  float: left;
  margin-left: 13px;
}
/* line 598, ../sass/index.scss */
#tmallSupr .bottom .div1 {
  width: 236px;
  height: 302px;
  background: mediumvioletred;
  float: left;
  margin-top: 13px;
  margin-right: 13px;
}
/* line 606, ../sass/index.scss */
#tmallSupr .bottom .div2 {
  width: 235px;
  height: 302px;
  background: mediumvioletred;
  margin-top: 13px;
  float: left;
}

/* line 616, ../sass/index.scss */
#tmall_internationality .left {
  width: 235px;
  height: 618px;
  float: left;
}
/* line 620, ../sass/index.scss */
#tmall_internationality .left div {
  width: 235px;
  height: 301px;
  background: #fff;
  float: left;
}
/* line 626, ../sass/index.scss */
#tmall_internationality .left .div2 {
  margin-top: 16px;
}

/* line 631, ../sass/index.scss */
.right-name div {
  width: 236px;
  height: 302px;
  background: #fff;
  float: left;
  margin-left: 12px;
}
/* line 638, ../sass/index.scss */
.right-name .div5 {
  margin-top: 13px;
}

/* line 643, ../sass/index.scss */
#boutique {
  width: 100%;
  height: 90px;
}
/* line 646, ../sass/index.scss */
#boutique .BG {
  width: 1230px;
  height: 90px;
  margin: 0 auto;
}
/* line 650, ../sass/index.scss */
#boutique .BG img {
  width: 1230px;
  height: 90px;
}

/* line 657, ../sass/index.scss */
.title-name {
  width: 100%;
  height: 47px;
  background: #00B262;
  padding-top: 13px;
}
/* line 662, ../sass/index.scss */
.title-name p {
  width: 1230px;
  height: 18px;
  border-left: 4px solid #000;
  font-size: 18px;
}
/* line 667, ../sass/index.scss */
.title-name p span {
  display: block;
  width: 300px;
  height: 26px;
  margin-left: 5px;
}

/* line 675, ../sass/index.scss */
.left_name {
  width: 235px;
  height: 618px;
  background: lightskyblue;
  float: left;
}

/* line 682, ../sass/index.scss */
#guess h2 {
  width: 1230px;
  height: 43px;
  margin: 0 auto;
  text-align: center;
}

/* line 688, ../sass/index.scss */
.div_bottom {
  width: 1230px;
  margin: 0 auto;
  background: lightgoldenrodyellow;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-self: center;
}
/* line 696, ../sass/index.scss */
.div_bottom div {
  width: 240px;
  height: 320px;
  background: lightgreen;
  margin-bottom: 10px;
}

/* line 703, ../sass/index.scss */
.miao {
  width: 80px;
  height: 45px;
  margin: 0 auto;
  background: magenta;
}

/* line 710, ../sass/index.scss */
footer {
  position: relative;
  width: 1420px;
  height: 600px;
  margin: 0 auto;
  overflow: hidden;
}
/* line 712, ../sass/index.scss */
footer .img_2 {
  width: 1420px;
  height: 300px;
  z-index: -99;
  position: absolute;
  bottom: 0;
}
/* line 723, ../sass/index.scss */
footer .top {
  width: 1190px;
  height: 100px;
  background: lightslategray;
  margin: 30px auto;
}
/* line 729, ../sass/index.scss */
footer .center {
  width: 1190px;
  height: 213px;
  border-top: 1px solid #000;
  margin: 0 auto;
}
/* line 734, ../sass/index.scss */
footer .center .name {
  margin-top: 20px;
  height: 193px;
  width: 100%;
}
/* line 738, ../sass/index.scss */
footer .center .name ul {
  width: 186px;
  height: 100%;
  margin-left: 50px;
  float: left;
}
/* line 743, ../sass/index.scss */
footer .center .name ul li:nth-child(1) {
  font-size: 16px;
  font-weight: 800;
  color: #646464;
}
/* line 748, ../sass/index.scss */
footer .center .name ul a {
  font-size: 12px;
  color: #646464;
  line-height: 20px;
}
/* line 753, ../sass/index.scss */
footer .center .name ul img {
  width: 105px;
  height: 105px;
}
/* line 760, ../sass/index.scss */
footer .bottom {
  width: 1190px;
  height: 236px;
  background: #000;
  margin: 0 auto;
  border-top: 2px solid #FF0036;
  overflow: hidden;
}
/* line 767, ../sass/index.scss */
footer .bottom .ul_1 {
  width: 1190px;
  height: 35px;
  line-height: 35px;
  color: #fff;
  font-size: 12px;
}
/* line 773, ../sass/index.scss */
footer .bottom .ul_1 a {
  float: left;
  margin-right: 5px;
  color: #fff;
}
/* line 778, ../sass/index.scss */
footer .bottom .ul_1 span {
  float: left;
}
/* line 782, ../sass/index.scss */
footer .bottom div {
  font-size: 12px;
  height: 20px;
  color: #ccc;
  float: left;
  margin-right: 65px;
  line-height: 20px;
}
/* line 789, ../sass/index.scss */
footer .bottom div a {
  color: #ccc;
}
/* line 793, ../sass/index.scss */
footer .bottom p {
  color: #333;
  width: 1190px;
  float: left;
  line-height: 20px;
  font-size: 12px;
}
